.allContainer{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    font:bold;
    justify-content: center;
    align-items: center;
}

.spotContainer{
    margin: 10px;
    display:flex;
    flex-direction: column;

}

.spotImage{
width:40%
}
.reserveContainer{
    display:flex;
    justify-content: center;
    width:200px;
    border-style: groove;
}

.hostReserveContainer{
    display:flex;

}
.imageBox{
    width:  70%;
    display:flex;
    flex-direction: column;
}

.starNumReviews{
    width:500px;
}
