.hidden {
    display: none;
}

#homebttn{
border-radius: 2px;
align-items: center;
justify-content: center;
}

#navigation{
    height:100px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 5px;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom,#f51111, #04148aed);

    margin:0px;
    padding:0px;
}

li{
    display:flex;
    align-items: center;
    justify-content: center;
}
.userMenu{
    display:flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin-right: 1%;
}
.fas{
    margin-bottom: 20px;
    justify-content: center;

}

ul {
    list-style-type: none;
    padding: 5px;
  }
.Link{
    margin:0px;
    color:rgba(251 200 60);
    text-decoration:none;
    font-size: 45px;
    white-space: nowrap;
}
.active,a{
    text-decoration:none
}
.active> h1{
    font-size: 45px;
}
.createDiv{
    display:flex;
    align-items: center;
}
.buttonUserCircle{
    background-color: #f51111;
}

.fa-user-circle{
    background-color: white;
}
#createspotId{
    font-size: 30px;
}

.pokepicdiv{
    max-width: 10%;
    max-height: 10%;
}

.profile-dropdown{
    position: absolute;
   top:100px;
    width: 200px;
    height: 100px;

}
